/**
* block menu de la page d'accueil
*/


.menu-accueil-container{
    margin-top: 50px;
}

.menu-accueil-container .menu{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 2rem;
    margin: 0;
    background-color: #967ff9;
    gap: 2rem;

    @media screen and (min-width: 600px) {
        flex-flow: row;
    }
}

.menu-accueil-container .menu .menu-item {
    list-style-type: none;
    margin: 0;
    padding: 1.5rem;
    background-color: #f5f5f542;
    border-radius: 3px;
    transition: all .2s ease-in-out;

    &:hover{
        background-color: wheat;
    }

    a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
        font-family: arial;
        color: #4b1b7a;

        hr{
            margin: 0;
            background-color: #4b1b7a;
        }
        .menu-item-description{
            font-size: 1rem;
            margin-top: 1rem;
            display: block;
            font-weight: 100;

        }
    }
}

